<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-chamador-plugin" version="0.0.8" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>ChamadorPlugin</name><js-module name="ChamadorPlugin" src="www/ChamadorPlugin.js"><clobbers target="cordova.plugins.ChamadorPlugin" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="ChamadorPlugin"><param name="android-package" value="cordova-chamador-plugin.ChamadorPlugin" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/ChamadorPlugin.java" target-dir="src/cordova-chamador-plugin/ChamadorPlugin" /></platform></plugin>